export BIND_ADDRESS='0.0.0.0:9082' # Connector listening address
export MINIO_ACCESS_KEY="{{ minio.bucket.username }}" # Minio user name / access key
export MINIO_SECRET_KEY="{{ minio.bucket.password }}" # Minio user password / secret key
export MINIO_SERVER="{{ minio.server_url }}" # Minio server url in <hostname:port> format
export MINIO_BUCKET_NAME="{{ minio.bucket.name }}" # Update with the bucket name
# Redis configuration
export REDIS_SERVER="{{ groups['redis'] | first }}" # Redis server address
export REDIS_PORT=6379
# DMS configuration
export DMS_SERVER_NAME='A.1' # DMS Server name / ID
export METRICS_TOKEN="{{ connector.metrics_token }}" # Bearer token to authenticate /metrics endpoint